<% content_for :message do %>
  <p><%= t("mailer.general.greeting.formal.addressed_html", name: style_bold(@user.login)) %></p>

  <p>Your work <%= style_creation_link(@work.title, @work) %> has been flagged by our automated system as spam and hidden until it can be reviewed by our Policy & Abuse team. While the work is hidden it can only be accessed by you and superlove site admins.</p>

  <p><%= t(".future") %></p>

  <p><%= t(".questions.html", contact_abuse_link: abuse_link(t(".contact_abuse"))) %></p>
<% end %>
