<!--Descriptive page name, messages and instructions-->
<h2 class="heading">Abuse Reports</h2>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<div class="userstuff">
  <p class="important" id="reportwhat">
  	please direct all abuse reports to the admin's email, <a href="mailto:melodicake@disroot.org">melodicake@disroot.org</a>. the form that was previously here is not functional
  </p>
</div>
<!--/content-->
