<!--Descriptive page name, messages and instructions-->
<header id="user-header">
  <h2>
    <%= @pseud ? @pseud.byline : @user.login %>
  </h2>
  <div class="avatar"><%= icon_display(@user, @pseud) %></div>
<!--/descriptions-->

  <!--subnav-->
  <% if logged_in? || policy(User).can_manage_users? %>
    <%= render "users/header_navigation" %>
  <% end %>
  <!--/subnav-->

</header>
