<h2><%= @page_heading.html_safe %></h2>
<% if @page_nav %>
  <%= @page_nav.html_safe %>
<% end %>
<div id="content">
  <%= @page_content.html_safe %>
</div>
<% if @page_nav %>
  <%= @page_nav.html_safe %>
<% end %>