<% # IMPORTANT: Also update current_tos_version in application_controller %>
<div id="tos" class="userstuff">
  <h2 class="heading">i am one person running this. these rules are strict.</h2>

  <h3 class="heading">content policies</h3>
  <ol>
    <li>no content about underage characters in sexual situations in which the underage characters are under the age of 16. the only exception to this is referencing canonical occurances of underage sexual content younger than 16. additionally, all underage sexual content must have the 'underage' archive warning and be locked to superlove members only.<br><br>to summarize: underage sexual content with characters between the ages of 16 and 17 is allowed, as long as it is tagged with the 'underage' archive warning and locked to archive members only.</li>
    <li>no sexual content about REAL LIFE UNDERAGE PEOPLE, full stop. none of the above applies; real life teenagers and children depicted in sexual situations is not allowed and never will be.</li>
    <li>no "spite fic", don't post to spite others or be a dick, post only your original work that you made for yourself or others or whatever, don't be a dick in the process.</li>
    <li>no commission/payment talk, as in, promoting your patreon or ko-fi or anything. i promote my own ko-fi for superlove and that is possible because it is divorced from the works featured on this site. you cannot share your payment details because it will put me in deep shit for legal reasons.</li>
    <li>no artificial intelligence (a.i.) generated works, written and visual, are allowed. just make your own shit please</li>
    <li>these policies are subject to change and/or further detailing at any time.</li>
  </ol>

  <h3 class="heading">privacy statement</h3>
  <p><strong>i do not collect analytics of any kind and never will</strong>. the ONLY data collected by me is internet standard, that being IP addresses and e-mails. i will see both of these when you submit an invite request and at any time i can see both when looking up a user as an admin. by signing up for superlove, you accept that i, the admin, will see your IP and e-mail address.</p>

  <p>when you submit any sort of content to superlove, there is no guarantee that it will be 100% gone on deletion. for instance, when you delete a work you have posted, the tags you created may remain on the website for others to use. this is a feature of the otw-archive software and not a bug. you have every right to request for created content of yours to be deleted; however, <strong>i reserve the right to control the data that is submitted to my website</strong>. superlove is a privately owned, privately run website. it is a one person operation. if you request deletion of content on the site that is not immediately removed on account deletion, i reserve the right to either refuse your request, or take my time on processing that request.</p>
  
</div>
