<h2 class="heading"><%= ts('About') %> <%= ts("superlove") %></h2>

<div class="userstuff">
  <p>i'm a random loser who decided to self host otw-archive on a macbook (it runs linux btw) because i thought it'd be funny. i do this for fun despite a complete and total lack of knowledge on database management. be nice to me. do whatever.<br><br>
  
  this is invite only and i approve and deny invite requests based on if i know you or if the vibes are good or bad. good luck<br><br>
  
  also i named this after a tinashe song. it bangs. listen to it<br><br>
  
  <iframe width="400" height="225" src="https://www.youtube.com/embed/hv44srAsAo4" title="Tinashe - Superlove" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br><br>

  read my rules don't be a prick about them i'm one guy i don't have lawyers this is the pink fanfic site that believes firmly in the way of the yuri warrior<br><br>

  some archive tag icons created and provided by steff of <a href="https://www.adastrafanfic.com/">Ad Astra</a> and the <a href="https://www.cfaarchive.org">CFAA</a>! everyone say thank you steff she's the best!<br><br>

  </p>
</div>
