<h2 class="heading"><%= t(".general.title") %></h2>
<h3 class="heading">bitch</h3>

<div class="userstuff">
  <h3><%= t(".time.title") %></h3>
  <p>idk just do whatever</p>

  <h3><%= t(".money.title") %></h3>
  <p><a href="https://ko-fi.com/melomelomelo">give me money</a></p>
</div>
