<h2>Terms of Service <abbr title="frequently asked questions">FAQ</abbr></h2>
<div class="content">
	<nav id="toc" class="toc" role="navigation">
		<h3>Table of Contents</h3>
		<ul>
			<li>
				to be edited
			</li>
    </ul>
	</div>
</div>
