<h2 class="heading">Terms of Service <abbr title="frequently asked questions">FAQ</abbr></h2>
  <div class="admin userstuff">
		<div id="toc" class="toc" role="navigation">
			<h3 class="heading">Table of Contents</h3>
			<ul>
				<li>
					to be edited
				</li>
		</div>
	</div>
