<!--subnav-->
<% if @user %>
<div class="actions" role="navigation"><%= link_to 'Back to invitations', user_invitations_path(@user) %></div>
<% end %>
<!--/subnav-->

<!--main content-->
<%= render :partial => 'invitations/invitation', :locals => {:user => @user, :invitation => @invitation} %>
<!--/content-->