<!--Descriptive page name, messages and instructions-->
<h2 class="heading">
  <%= ts("Invitation Requests") %>
</h2>

<div class="notice">
  <%= ts("<strong>new invitation requests are currently closed. sowwy.</strong>").html_safe %>
</div>
<p>
  <%= ts("If you have already requested an invitation, you can %{status}. There are %{count} people remaining on the waiting list.",
      status: link_to("check your position on the waiting list",
                      status_invite_requests_path),
      count: InviteRequest.count
  ).html_safe %>
<p>
<!--/descriptions-->

<!--main content-->
<!--/content-->
