<!--Descriptive page name, messages and instructions-->
<h2>
  <%= t(".page_heading") %>
</h2>

<div class="notice">
  <%= ts("<strong>new invitation requests are currently closed. sowwy.</strong>").html_safe %>
</div>
<p>
  <%= t(".already_requested_html", check_waitlist_position_link: link_to(t(".check_waitlist_position"), status_invite_requests_path)) %>
  <%= t(".waiting_list_count", count: InviteRequest.count) %>
</p>
<!--/descriptions-->

<!--main content-->
<!--/content-->
