<% if @invite_request %>
  document.getElementById('invite-status').innerHTML = "<%= escape_javascript(render "invite_requests/invite_request", invite_request: @invite_request) %>";
<% else %>
  document.getElementById('invite-status').innerHTML = "<p>Sorry, we can't find the email address you entered. If you had used it to join our invitation queue, it's possible that your invitation may have already been emailed to you; please check your spam folder, as your spam filters may have placed it there.</p>";
<% end %>
