<!--Descriptive page name, messages and instructions--><!--/descriptions-->
<h2><%= ts('Post New Chapter') %></h2>
<h3><%= @work.title %></h3>

<%= error_messages_for :chapter %>
<!--/descriptions-->

<!--subnav-->
<!--/subnav-->

<!--main content-->
<%= render 'chapter_form', :chapter => @chapter %>
<!--/content-->

