#account-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 1rem;
  
  .item {
    h4 {
      margin: 0;
      
      & + p {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  #account-info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  #account-info {
    grid-template-columns: auto;
  }
}

#blacklisted-emails-list {
  max-width: 100%;
  width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    border-bottom: 1px var(--lightborder) solid;
    padding: 3px 5px;
    
    &:nth-child(2n+2) {
      background-color: var(--neutral300);
    }
    
    &:last-child {
      border-bottom: none;
    }
  }
}

#spam_works {
  .actions {
    display: inline-flex;
    margin-left: 5px;
  }
}

#invite-request-search {
  .form-row {
    display: inline-flex;
    gap: 10px;
  }
}

.faq-item {
  h4 {
    font-family: var(--font-body);
    margin: 0 0 1em;
  }
}