.blurb {
  padding: 0.45rem 0.75rem;
  border: 1px var(--neutral300) solid;
  font-size: .875rem;
  
  header {
    margin-bottom: 1rem;
    display: grid;
    gap: 0.5rem;
  }
  
  h4 {
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    line-height: 1.125rem;
    
    a {
      color: var(--accent);
      text-decoration: underline;
    }
  }
  
  .avatar {
    width: 55px;
    height: 55px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .datetime {
    text-align: right;
    font-size: .75rem;
    font-family: monospace;
  }
  
  .fandoms {
    font-family: var(--font-titles);
    
    a {
      text-decoration: underline dotted;
      color: var(--text);
    }
  }
  
  .tags {
    a {
      text-decoration: underline dotted;
      color: var(--text);
      
      &:hover {
        background-color: var(--accent);
        color: var(--accent-text);
      }
    }
    
    &.warnings {
      font-weight: bold;
    }
  }
  
  .series {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    
    a {
      color: var(--text);
      text-decoration: underline;
      
      &:hover {
        color: var(--neutral700);
      }
    }
  }
  
  .stats {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 1rem;
    
    a {
      color: var(--text);
      text-decoration: underline;
    }
    
    b {
      font-weight: normal;
    }
  }
  
  .bookmark {
    border: 1px var(--neutral400) solid;
    padding: .45rem .75rem;
  }
}

.blurb-list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  grid-template-rows: min-content;
  
  &:after {
    content: "";
  }
}