.filtered {
  display: grid;
  grid-template-areas: "flash flash"
    "title title"
    "counter counter"
    "actions actions"
    "list filters";
  grid-template-columns: 1fr 300px;
  gap: 0 1rem;
  
  &:has(.pagy) {
    grid-template-areas: "flash flash"
      "title title"
      "counter counter"
      "actions actions"
      "paginationtop paginationtop"
      "list filters"
      "paginationbottom paginationbottom";
    
    .pagy {
      &:first-of-type {
        grid-area: paginationtop;
      }
      
      &:last-of-type {
        grid-area: paginationbottom;
      }
      
      &.actions {
        justify-content: center;
        align-items: center;
      }
    }
  }
  
  #flash-container {
    grid-area: flash;
  }
  
  h2 {
    grid-area: title;
    margin-bottom: 0;
  }
  
  h3 {
    margin: 0;
  }
  
  .navigation {
    grid-area: actions;
  }
  
  #works {
    grid-area: list;
  }
  
  .actions {
    grid-area: actions;
    justify-content: flex-end;
  }
  
  .filters {
    grid-area: filters;
  }
}

@media only screen and (max-width: 767px) {
  .filtered {
    grid-template-areas: "flash"
      "title"
      "counter"
      "actions"
      "list"
      "filters";
    grid-template-columns: auto;
    gap: 1rem;
  }
  
  .filters {
    position: fixed;
    height: 100vh;
    width: 200px;
    left: 0;
    top: 0;
    transform: translateX(100vw);
    overflow-y: auto;
  }
}

.filters {
  label {
    border-bottom: 1px solid #f3efec;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  fieldset {
    margin: 0;
  }
  
  .radio-group {
    background-color: transparent;
    padding: 0;
    border: none;
    box-shadow: none;
    
    label {
      border-bottom: none;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    li {
      margin-bottom: 0.5rem;
    }
  }
  
  .submit {
    margin-top: 1.5rem;
    
    button {
      width: 100%;
      text-align: center;
    }
  }
  
  .clear {
    text-align: right;
    margin-top: 1rem;
    font-size: 0.75rem;
  }
  
  .close {
    position: absolute;
    z-index: 29;
    top: 1rem;
    right: 1rem;
    font-size: 0;
    text-decoration: none;
    
    &:before {
      content: "×";
      font-size: 1rem;
    }
  }
}