.users-show,
.profile-show,
.pseuds-show {
  header#user-header {
    display: grid;
    grid-template-areas: "avatar name"
      "actions actions";
    grid-template-columns: 100px 1fr;
    align-items: start;
      
    ul.actions {
      justify-content: flex-end;
      grid-area: actions;
    }
    
    h2 {
      border-bottom: 2px var(--text) solid;
      grid-area: name;
      text-align: right;
      margin-top: 0;
    }
    
    .avatar {
      grid-area: avatar;
    }
  }
}

#pseuds {
  li {
    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      display: block;
    }
  }
}

#bio {
  h3 {
    font-weight: normal;
  }
}

#bio-content {
  padding: .65rem;
  
  > :first-child {
    margin-top: 0;
  }
  
  > :last-child {
    margin-bottom: 0;
  }
}