.works {
  .title,
  .byline {
    text-align: center;
  }
}

.filtered {
  display: grid;
  grid-template-areas: "flash flash"
    "title title"
    "actions actions"
    "list filters";
  grid-template-columns: 1fr 300px;
  gap: 0 1rem;
  
  #flash-container {
    grid-area: flash;
  }
  
  h2 {
    grid-area: title;
  }
  
  .navigation {
    grid-area: actions;
  }
  
  #works {
    grid-area: list;
  }
  
  .filters {
    grid-area: filters;
  }
}

@media only screen and (max-width: 767px) {
  .filtered {
    display: block;
  }
  
  .filters {
    position: absolute;
    width: 200px;
    left: 100%;
    top: 0;
  }
}

.filters {
  fieldset {
    margin: 0;
  }
}

#work-content {
  margin: 1rem auto;
}

#work-meta {
  > li {
    &.warning {
      b {
        font-weight: bold;
      }
      
      a {
        font-weight: bold;
      }
    }
    
    &.stats {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}

#download-formats {
  list-style: none;
  margin: 0;
  padding: .375rem;
  background-color: var(--background);
  border: 2px var(--neutral500) solid;
  box-shadow: 2px 2px 5px var(--neutral500);
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  gap: .25rem;
}

#workskin {
  max-width: 72rem;
  margin: auto;
  
  header {
    margin: 1.5rem 3rem;
  }
}